<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../components/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Buy your Favourite book</h1>
    </div>
    <div class="row">
      <% books.forEach(function(book){ %>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <%= book.book_name %>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
  </main>

  <footer>
    <%- include('../components/footer'); %>
  </footer>

</body>

</html>